/*空内容*/
.check_tree__empty-block {
    position: relative;
    min-height: 60px;
    text-align: center;
    width: 100%;
    height: 100%;
}

.check_tree__empty-text {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #6f7180;
}

/*复选框*/
.check_tree__checkbox {
    vertical-align: middle;
    display: inline-block;
    position: relative;
    border: 1px solid #dcdfe6;
    border-radius: 2px;
    box-sizing: border-box;
    width: 14px;
    height: 14px;
    background-color: #fff;
    z-index: 1;
    transition: border-color .25s cubic-bezier(.71, -.46, .29, 1.46), background-color .25s cubic-bezier(.71, -.46, .29, 1.46);
    color: #606266;
    margin-right: 8px;
}

.check_tree__checkbox:hover {
    border-color: #409eff
}

.check_tree__checkbox:after {
    box-sizing: content-box;
    content: "";
    border: 1px solid #fff;
    border-left: 0;
    border-top: 0;
    height: 7px;
    left: 4px;
    position: absolute;
    top: 1px;
    transform: rotate(45deg) scaleY(0);
    width: 3px;
    transition: transform .15s cubic-bezier(.71, -.46, .88, .6) .05s;
    transform-origin: center;
}

.check_tree__checkbox.is-checked,
.check_tree__checkbox.is-indeterminate {
    background-color: #409eff;
    border-color: #409eff
}

.check_tree__checkbox.is-checked:after {
    transform: rotate(45deg) scaleY(1)
}

.check_tree__checkbox.is-disabled {
    background-color: #edf2fc;
    border-color: #dcdfe6;
    cursor: not-allowed;
}

.check_tree__checkbox.is-disabled:after {
    cursor: not-allowed;
    border-color: #c0c4cc;
}

.check_tree__checkbox.is-checked.is-disabled {
    background-color: #f2f6fc;
    border-color: #dcdfe6;
}

.check_tree__checkbox.is-checked.is-disabled:after {
    border-color: #c0c4cc
}

.check_tree__checkbox.is-indeterminate:before {
    content: "";
    position: absolute;
    display: block;
    background-color: #fff;
    height: 2px;
    transform: scale(.5);
    left: 0;
    right: 0;
    top: 5px;
}

/*展开收起箭头*/
.check_tree__icon-right {
    display: inline-block;
    width: 0;
    height: 0;
    overflow: hidden;
    border-left: 4px solid #c0c4cc;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    transition: transform .3s ease-in-out;
    margin: 0 5px;
}

.check_tree__icon-right.expanded {
    transform: rotate(90deg)
}

.check_tree__icon-right.is-leaf {
    visibility: hidden;
}

/*主体*/
.check_tree__tree {
    cursor: default;
    background-color: #fff;
    color: #606266;
    user-select: none;
}

.check_tree__tree-node {
    white-space: nowrap;
}

.check_tree__tree-node-content {
    display: block;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.check_tree__tree-node-content:hover {
    background-color: #f5f7fa
}

.check_tree__tree-node-children {
    transition: all .6s;
    overflow: hidden;
}

.check_tree__tree-node-label {
    font-size: 14px;
}

.check_tree__tree-children-hide {
    height: 0;
    transition: all.6s;
}

.check_tree__pl18 {
    padding-left: 18px;
}